<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="ITStudySearch.ytabuchi.xlsoft.gmail.com" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21"/>
	<application android:label="ITStudySearch.Droid" android:theme="@style/AppTheme"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>